.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 665px;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input,
textarea {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #f7f5fc;
  font-size: 14px;
  resize: none;
}

textarea {
  height: 100px;
}

.createBtn {
  background-color: var(--Main_Color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.createBtn:hover {
  background-color: #7a966c;
}
