/* Sidebar.module.css */

.menu :global(.ant-menu-item-selected) {
  background-color: transparent !important;
}

.menu :global(.ant-menu-item-selected a),
.menu :global(.ant-menu-item-selected span) {
  color: #92d871 !important;
  font-weight: 600;
  margin-left: 6px;
}

.menu :global(.ant-menu-item a:hover),
.menu :global(.ant-menu-item span:hover) {
  color: #92d871;
}

.menu :global(.ant-menu-item:hover) {
  background-color: transparent !important;
}

.menu :global(.ant-menu-item) {
  border-bottom: 1px solid #f0f0f0;
  transition: all 0.2s ease;
  margin-bottom: 0 !important;
}